.card_footer {
    /* display: grid;
    grid-template-columns: 40% 40%; 
    grid-template-rows: 100px;
    grid-column-gap: 30%;*/
}

.create_img {
    border-radius: 50%;
}

.nft_media {
    border-radius: 10px;
}

.example-header-image {
    background-image: url("../../assets/BE_A_STEREOTYPE.gif");
    background-size: cover;
    box-shadow: 0px 3px 5px 5px rgb(218, 190, 190);
    /* add shadow */
}

.nft_card {
    box-shadow: 0px 3px 5px 5px rgb(218, 190, 190);
}