<ng-container *ngIf="(apiResp | async) as apiResp ">
    <mat-card class="nft_card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
            <mat-card-title>{{apiResp.nft.name }}</mat-card-title>
            <mat-card-subtitle>{{apiResp.creator.name }} <br>{{otherData.type}} NFT</mat-card-subtitle>

        </mat-card-header>

        <video class="nft_media" mat-card-image width="320" height="240" [muted]="'muted'" loop="loop" autoplay muted>
            <source src="{{otherData.video}}" type="video/mp4">
        </video>
        <mat-card-content>
            <div class="card_footer">
                <!--<div class="card_data">
                    <p>
                        {{apiResp.creator.name}}<br/> {{apiResp.nft.name}}<br/> {{apiResp.nft.addr}}
                    </p>
                </div> -->
                <mat-card-title>Owner</mat-card-title>
                <div class="card_data">
                    <p>
                        {{apiResp.owner.name}}<br/> {{apiResp.owner.addr}}
                    </p>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button disabled mat-button>Buy</button>
            <button mat-button>Sell</button>
        </mat-card-actions>

        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        History Details
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-history></app-history>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</ng-container>